@charset "UTF-8";
:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-accent: #2196f3;
  --font-primary: Roboto;
  --font-secondary: Raleway;
  --bezier-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

/*.section {
  padding: 94px 0;
}
*/
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
*/
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-header {
  margin-right: 93px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-accent);
}

.logo-header__studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  -webkit-transition: color 250ms var(--bezier-timing);
  -o-transition: color 250ms var(--bezier-timing);
  transition: color 250ms var(--bezier-timing);
}
.logo-header__studio:focus, .logo-header__studio:hover {
  color: var(--text-color-accent);
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  color: var(--text-color-primary);
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color 250ms var(--bezier-timing);
  -o-transition: color 250ms var(--bezier-timing);
  transition: color 250ms var(--bezier-timing);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--text-color-accent);
}
.site-nav__link--active {
  color: var(--text-color-accent);
}
.site-nav__link--active::after {
  content: "";
  display: block;
  position: relative;
  top: 33px;
  width: 100%;
  height: 4px;
  background-color: var(--text-color-accent);
  border-radius: 2px;
}

.auth-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.auth-auth__item {
  margin-right: 50px;
}
.auth-auth__item:last-child {
  margin-right: 0;
}

.auth-auth__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color 250ms var(--bezier-timing);
  -o-transition: color 250ms var(--bezier-timing);
  transition: color 250ms var(--bezier-timing);
}
.auth-auth__link:hover, .auth-auth__link:focus {
  color: var(--text-color-accent);
}

.auth-auth__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/img.jpg);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/img.jpg);
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.hero__button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border-radius: 4px;
  border: transparent;
  color: #ffffff;
  background-color: var(--text-color-accent);
  cursor: pointer;
  -webkit-transition: color 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
  -o-transition: color 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
  transition: color 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
}

.hero__button:hover,
.hero__button:focus {
  color: var(--text-color-accent);
  background-color: #ffffff;
}

/*
.hero {
  padding: 118px 0;
  background-color: $bcg-primary-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../images/main-photo-480.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;

  @media screen and (min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi), 
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../images/main-photo-480@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    padding: 118px 0;
    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../images/main-photo-768.jpg');
    @media screen and (min-device-pixel-ratio: 2), 
      (min-resolution: 192dpi), 
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../images/main-photo-768@2x.jpg');
  }
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../images/main-photo-1600.jpg');
    @media screen and (min-device-pixel-ratio: 2), 
      (min-resolution: 192dpi), 
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../images/main-photo-1600@2x.jpg');
  }
  }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: $primary-white-color;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $primary-white-color;
  }
}

.hero__btn {
  display: block;
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  margin: 0 auto;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transform: scale(1);
  transition: transform 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $main-btn-color;

    transform: scale(1.1);
    transition: transform 250ms $timing-function;
  }
}
*/
/*
.features {
  display: flex;
}
.features__item {
  margin-right: 30px;
  &:last-child {
  margin-right: 0;
}
}

.features__title {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
 .features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
*/
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin: 0px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-primary);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*
.section--ptn {
  padding-top: 0;

  margin-left: auto;
  margin-right: auto;
}
.photo {
  display: flex;
  margin-top: 50px;
}
.photo__item {
  margin-right: 30px;
 &:last-child {
  margin-right: 0;
}
}
.photo__description {
  position: relative;
}
.photo__overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.photo__text {
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
*/
.section--ptn {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section--ptn {
    display: none;
  }
}
.section--ptn__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}
.photo__item {
  margin-right: 30px;
}
.photo__item:nth-child(3n) {
  margin-right: 0px;
}

.photo__description {
  position: relative;
}

.photo__overlay {
  display: block;
  position: absolute;
  content: "";
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.photo__overlay .photo__text {
  padding: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*.section--bgc {
  background: #f5f4fa;
}

.team {
  display: flex;
  margin-top: 50px;
}
.team__item {
  margin-right: 30px;
  &:last-child {
  margin-right: 0;
}
}

.team__wrapper {
  display: block;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__title {
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__text {
  margin-top: 10px;
  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
} /*--------------------xxx*/
.section--bgc {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
  /* &__title {
     text-align: center;
     font-weight: bold;
     font-size: 28px;
     line-height: 1.17;
     letter-spacing: 0.03em;

     margin-bottom: 30px;

     @media screen and (min-width: 1200px) {
       margin-bottom: 50px;
     }
   } */
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    width: 50%;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
  .team__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 16px;
  text-align: center;
  background-color: #FFFFFF;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-primary);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/*
.social-box {
  padding-bottom: 24px;
  // padding: 0px 32px 30px;
  background-color: #FFFFFF;
}

.social-icons {
  display: flex;
  justify-content: center;

}

.social-icons__item {
  margin-right: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transform: scale(0.9);
  transition: transform 250ms var(--bezier-timing);

  &:last-child {
    margin-right: 0px;
  }

  &:focus,
  &:hover {
    background-color: var(--text-color-accent);
    transform: scale(1);
    transition: transform 250ms var(--bezier-timing);
  }
}
.social-list__icon {
  fill: currentColor;

  .social-list__link:focus &,
  .social-list__link:hover & {
    fill: #FFFFFF;
  }
}
*/
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.social-icons__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-icons__item:last-child {
  margin-right: 0;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: fill 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
  -o-transition: fill 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
  transition: fill 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
}
.social-icons__link:hover, .social-icons__link:focus {
  fill: #ffffff;
  background-color: var(--text-color-accent);
}
.social-icons__link:hover .social-icon, .social-icons__link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: currentColor;
}

/*
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.clients {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.clients__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  &:last-child {
  margin-right: 0;
}

}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms var(--bezier-timing),
    border-color 250ms var(--bezier-timing), fill 250ms var(--bezier-timing);
    &:hover,
    &:focus {
  color: var(--text-color-accent);
  border-color: var(--text-color-accent);
}
}


.clients__icon {
  fill: currentColor;
}
*/
.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
}
@media screen and (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__item {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
      flex-basis: calc((100% - 2 * 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--bezier-timing);
  -o-transition: color 250ms var(--bezier-timing);
  transition: color 250ms var(--bezier-timing);
  transition: color 250ms var(--bezier-timing);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--text-color-accent);
}

.clients__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--text-color-accent);
  -webkit-transform: translate(2%, 2%);
      -ms-transform: translate(2%, 2%);
          transform: translate(2%, 2%);
  -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
  transition: -webkit-transform 250ms var(--bezier-timing);
  -o-transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
}

.projects {
  display: block;
  margin-top: 94px;
  margin-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter__item {
  margin-right: 8px;

  &:last-child {
  margin-right: 0;
}
}

.filter__button {
  color: var(--text-color-primary);
  background-color: #f5f4fa;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
  color: #ffffff;
  background-color: var(--text-color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

  transition: color 250ms var(--bezier-timing),
    background-color 250ms var(--bezier-timing),
    box-shadow 250ms var(--bezier-timing);
}
*/
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filter__item {
    margin-top: 15px;
  }
}

.filter__button {
  padding: 6px 22px;
  background: #2196F3;
  border: 0px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-primary);
  cursor: pointer;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
  transition: -webkit-transform 250ms var(--bezier-timing);
  -o-transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
  transition: -webkit-transform 250ms var(--bezier-timing);
  -o-transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
}

/* .products {
  display: flex;
  flex-wrap: wrap;
}
.products__item {
  display: block;
  align-items: center;
  width: 370px;

  margin: 0 30px 30px 0;

  &:nth-child(3n) {
  margin-right: 0;
}
  &:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
}
*/
/*
.products__link {
  display: block;
  align-items: center;
  background-color: #ffffff;

  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.products__thumb {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: 0;
}
*/
.products__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products__text {
  margin-top: 4px;
  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.products__wrapper {
  position: relative;
  overflow: hidden;
}

/*
.products__info-text {
  background: rgba(33, 150, 243, 0.9);

  width: 370px;
  height: 294px;

  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;

  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms var(--bezier-timing),
    box-shadow 250ms var(--bezier-timing);
}
*/
.products__link:hover .products__info-text,
.products__link:focus .products__info-text {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  overflow: visible;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*==========================================================*/
@media screen and (min-width: 768px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
  }
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.products__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .products__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
    margin-right: 30px;
  }
  .products__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}
.products__item:hover, .products__item:focus {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.products__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/*
.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}
*/
/* ======= Выпадение окна с текстом в Портфолио ======= */
/*
.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  overflow: hidden;
}
*/
.products__info-text {
  display: inline-block;
  position: absolute;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
  transition: -webkit-transform 250ms var(--bezier-timing);
  -o-transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
  /*
    .card__thumb:hover & {
      transform: translateY(0%);
      transition: transform 250ms var(--bezier-timing);
      opacity: 1;
    }
    */
}
@media screen and (min-width: 768px) {
  .products__info-text {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .products__info-text {
    padding: 63px 24px;
  }
}

/*.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
*/
.footer__address {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__logo {
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .footer__logo {
    text-align: center;
  }
}

.footer__web {
  color: var(--text-color-accent);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--bezier-timing);
  -o-transition: color 250ms var(--bezier-timing);
  transition: color 250ms var(--bezier-timing);
}

.footer__studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__logo:hover,
.footer__logo:focus {
  color: var(--text-color-accent);
}

.footer-address__list {
  margin-top: 20px;
}

.footer-address__address {
  margin-top: 20px;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--bezier-timing);
  -o-transition: color 250ms var(--bezier-timing);
  transition: color 250ms var(--bezier-timing);
}

.footer-address__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--bezier-timing);
  -o-transition: color 250ms var(--bezier-timing);
  transition: color 250ms var(--bezier-timing);
}

.footer-address__item {
  margin-bottom: 9px;
}

.footer-address__item:last-child {
  margin-bottom: 0;
}

.footer-address__address:hover,
.footer-address__address:focus {
  color: var(--text-color-accent);
}

.footer-address__contacts:hover,
.footer-address__contacts:focus {
  color: var(--text-color-accent);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 70px;
  }
}

.footer-address__list {
  font-style: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: 60px;
  /*
    &__street {
      display: inline-block;
      margin-bottom: 8px;
      color: #ffffff;
      background: #2f303a;
    }

    &__mail,
    &__phone {
      display: inline-block;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);

      // transform: scale(1);
      // transition: transform 250ms $timing-function;
    }
    */
}
@media screen and (min-width: 1200px) {
  .footer-address__list {
    margin-bottom: 0px;
    text-align: left;
  }
}

/*
.address__mail {
  margin-bottom: 8px;
  &:hover,
  &:focus {
    color: var(--text-color-accent);

    transform: scale(1.1);
    transition: transform 250ms var(--bezier-timing);
  }
}

.address__phone:hover,
.address__phone:focus {
  color: var(--text-color-accent);

  transform: scale(1.1);
  transition: transform 250ms var(--bezier-timing);
}
*/
/*.fsocial-title {
  margin-left: 70px;
}
*/
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.fsocial__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.fsocial__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.fsocial__item:last-child {
  margin-right: 0;
}

.fsocial__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
  -o-transition: fill 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
  transition: fill 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
}

.fsocial__icon {
  fill: #ffffff;
}

.fsocial__link:hover,
.fsocial__link:focus {
  fill: #ffffff;
  background-color: var(--text-color-accent);
}

.fsocial__link:hover .fsocial__icon,
.fsocial__link:focus .fsocial__icon {
  fill: #ffffff;
}

.fsocial-title {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .fsocial-title {
    text-align: left;
    margin-right: 93px;
    margin-bottom: 0px;
  }
}
.fsocial-title__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.join__item:not(:last-child) {
  margin-right: 10px;
}
.join .join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  /* margin-right: 10px; */
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
  transition: -webkit-transform 250ms var(--bezier-timing);
  -o-transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
}
.join .join__link:hover, .join .join__link:focus {
  background-color: var(--text-color-accent);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
  transition: -webkit-transform 250ms var(--bezier-timing);
  -o-transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
}
.join__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
}

/*.subscribe {
  width: 570px;
  height: 86px;
  margin-left: 93px;
  display: flex;
  align-items: flex-end;
}

.subscribe__sector {
  display: inline-block;
  margin-right: 12px;
}
*/
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__input {
  margin-top: 18px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*
.subscribe__submit {
    width: 200px;
  height: 50px;
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  padding: 10px 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
*/
.icon-send {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.subscribe__sector {
  margin-right: 12px;
}

.subscribe__title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
}
.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0px;
  }
}

.subscribe__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto, sans-serif;
  padding: 10px 28px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: auto;
  background-color: #2196F3;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
  transition: -webkit-transform 250ms var(--bezier-timing);
  -o-transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
}
.subscribe__submit:hover, .subscribe__submit:focus {
  background-color: #ffffff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
  transition: -webkit-transform 250ms var(--bezier-timing);
  -o-transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
}
@media screen and (min-width: 1200px) {
  .subscribe__submit {
    padding: 0px;
    margin: 0px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--bezier-timing);
  -o-transition: opacity 250ms var(--bezier-timing);
  transition: opacity 250ms var(--bezier-timing);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modalbackdrop .is-hidden {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
      -ms-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 581px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
  transition: -webkit-transform 250ms var(--bezier-timing);
  -o-transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing);
  transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.modal__close:hover,
.modal__close:focus {
  fill: var(--text-color-accent);
}

.modal__close-icon:hover,
.modal__close-icon:focus {
  fill: var(--text-color-accent);
}

.form-container {
  height: 581px;
  padding: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
}

.form-sector {
  margin-bottom: 10px;
  position: relative;
}

.form-label {
  display: block;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  cursor: pointer;
  position: relative;
}

.form-input,
.form-messege {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.form-message {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-family: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-message:focus {
  outline: 1px solid #2196f3;
  border: 1px solid #2196f3;
}

.form-message::-webkit-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::-moz-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message:-ms-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::-ms-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-title {
  padding-bottom: 4px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms var(--bezier-timing), outline 250ms var(--bezier-timing);
  -o-transition: fill 250ms var(--bezier-timing), outline 250ms var(--bezier-timing);
  transition: fill 250ms var(--bezier-timing), outline 250ms var(--bezier-timing);
}

.form-input:focus {
  outline: 1px solid #2196f3;
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.form-checkbox {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 100%;
  cursor: pointer;
}

.checkbox-terms {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.checkbox-terms .terms-link {
  color: var(--text-color-accent);
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-terms::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox-icon {
  position: absolute;
  top: 3px;
  left: 12px;
  opacity: 0;
  pointer-events: none;
  background-color: var(--text-color-accent);
  fill: var(--background-main-color);
  border: 2px solid #2196F3;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:focus {
  outline-color: var(--text-color-accent);
  border: 2px solid #2196F3;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-origin: border-box;
}

.checkbox-button {
  margin: 0 auto;
}

.sbm {
  text-align: center;
  height: 50px;
  margin: 0 124px;
  cursor: pointer;
  margin-bottom: 0;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.sbm-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */