.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.fsocial__list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.fsocial__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.fsocial__item:last-child {
  margin-right: 0;
}
.fsocial__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);

  transition: fill 250ms var(--bezier-timing),
    background-color 250ms var(--bezier-timing);
}
.fsocial__icon {
  fill: #ffffff;
}
.fsocial__link:hover,
.fsocial__link:focus {
  fill: #ffffff;
  background-color: var(--text-color-accent);
}

.fsocial__link:hover .fsocial__icon,
.fsocial__link:focus .fsocial__icon {
  fill: #ffffff;
}


.fsocial-title {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
  text-align: left;
  margin-right: 93px;
  margin-bottom: 0px;
  }
 @media screen and (min-width: 479px) {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  }

}