/*
.section--ptn {
  padding-top: 0;

  margin-left: auto;
  margin-right: auto;
}
.photo {
  display: flex;
  margin-top: 50px;
}
.photo__item {
  margin-right: 30px;
 &:last-child {
  margin-right: 0;
}
}
.photo__description {
  position: relative;
}
.photo__overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.photo__text {
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
*/
.section--ptn {
  
  @media screen and (max-width: 1199px) {
     display: none;
  }
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #000000;
  }
}
.photo {
  display: flex;
  flex-basis: calc(100% / 3);
  &__item {
    margin-right: 30px;
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
}

.photo__description {
  position: relative;
}

.photo__overlay {
  display: block;
  position: absolute;
  content: "";
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  .photo__text {
    padding: 27px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}