/*.subscribe {
  width: 570px;
  height: 86px;
  margin-left: 93px;
  display: flex;
  align-items: flex-end;
}

.subscribe__sector {
  display: inline-block;
  margin-right: 12px;
}
*/
.subscribe__title {
  

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
 
}
.subscribe__input {
  margin-top: 18px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}
.subscribe__input::placeholder {

  font-size: 16px;
  line-height: 1.25;


  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/*
.subscribe__submit {
    width: 200px;
  height: 50px;
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  padding: 10px 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
*/
.icon-send {
  margin-left: 10px;
}



.subscribe {
  @media screen and (min-width: 1200px) {
  display: flex;
  align-items: flex-end;
}
}

.subscribe__sector {
  margin-right: 12px;
}

.subscribe__title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 768px) {
    width: 450px;
}

@media screen and (min-width: 1200px) {
  width: 358px;
  margin-bottom: 0px;
}
}

.subscribe__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #000;
  margin: auto;

  background-color: #2196F3;
 // width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  //transform: scale(1);
  transition: transform 250ms var(--bezier-timing);
  &:hover,
  &:focus {
    background-color: #2196F3;

  //  transform: scale(1.1);
    transition: transform 250ms var(--bezier-timing);
  }

  @media screen and (min-width: 1200px) {
   padding: 0px;
    margin: 0px;
  }
}
.subscribe__icon {
  margin-left: 10px;
}