:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-accent: #2196f3;
  --font-primary: Roboto;
  --font-secondary: Raleway;
  --bezier-timing: cubic-bezier(0.4, 0, 0.2, 1);
}